services:
    # 1. Приложение (Laravel)
    laravel.test:
        build:
            context: ./vendor/laravel/sail/runtimes/8.2
            dockerfile: Dockerfile
            args:
                WWWGROUP: 1000
        image: sail-8.2/app
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        environment:
            WWWUSER: 1000
            LARAVEL_SAIL: 1
            XDEBUG_MODE: 'off'
            # === МАГИЯ ДОМЕНОВ ===
            # Указываем домен, на который должен откликаться этот контейнер
            VIRTUAL_HOST: ${APP_DOMAIN}
            # Указываем домен для получения SSL сертификата
            LETSENCRYPT_HOST: ${APP_DOMAIN}
            LETSENCRYPT_EMAIL: ${App_EMAIL_ADMIN}
        volumes:
            - '.:/var/www/html'
        networks:
            - sail
        depends_on:
            - pgsql
            - redis

    # 2. База данных (PostgreSQL)
    pgsql:
        image: 'postgres:15'
        ports:
            - '${FORWARD_DB_PORT:-5432}:5432'
        environment:
            PGPASSWORD: '${DB_PASSWORD:-secret}'
            POSTGRES_DB: '${DB_DATABASE}'
            POSTGRES_USER: '${DB_USERNAME}'
            POSTGRES_PASSWORD: '${DB_PASSWORD:-secret}'
        volumes:
            - 'sail-pgsql:/var/lib/postgresql/data'
        networks:
            - sail
        healthcheck:
            test: ["CMD", "pg_isready", "-q", "-d", "${DB_DATABASE}", "-U", "${DB_USERNAME}"]
            retries: 3
            timeout: 5s

    # 3. Redis (Кэш и Очереди)
    redis:
        image: 'redis:alpine'
        ports:
            - '${FORWARD_REDIS_PORT:-6379}:6379'
        volumes:
            - 'sail-redis:/data'
        networks:
            - sail
        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
            retries: 3
            timeout: 5s

    # === 4. ГЛАВНЫЙ ВХОД (Reverse Proxy) ===
    # Этот контейнер ловит все запросы из интернета (порт 80 и 443)
    nginx-proxy:
        image: nginxproxy/nginx-proxy
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - var/run/docker.sock:/tmp/docker.sock:ro
            - certs:/etc/nginx/certs
            - vhost:/etc/nginx/vhost.d
            - html:/usr/share/nginx/html
        networks:
            - sail

    # === 5. АВТОМАТИЧЕСКИЙ SSL (Let's Encrypt) ===
    # Этот контейнер следит за nginx-proxy и сам заказывает сертификаты
    acme-companion:
        image: nginxproxy/acme-companion
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - certs:/etc/nginx/certs
            - vhost:/etc/nginx/vhost.d
            - html:/usr/share/nginx/html
            - acme:/etc/acme.sh
        depends_on:
            - nginx-proxy
        networks:
            - sail

networks:
    sail:
        driver: bridge

volumes:
    sail-pgsql:
        driver: local
    sail-redis:
        driver: local
    certs:
    vhost:
    html:
    acme: